{% extends 'healthapp/base.html' %}

{% block navigation %}
<nav class="nav bg-light shadow p-3">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patients:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patients:app_form' %}">Book appointment</a>
        </li>
    </ul>
    <ul class="nav nav-pills ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>

</nav>
{% endblock %}

{% block content %}

<h1>Welcome, {{ name.title }}!</h1>
<center>
<a class="btn btn-primary btn-lg m-5" href="{% url 'main' %}">Predict my health</a>
</center>

{% endblock %}